{% extends "layout.html" %} {% block content %}

<div class="infinite-page-wrapper" id="infinite-page-wrapper">
  <div class="gdlr-core-page-builder-body">
    <div class="gdlr-core-pbf-wrapper" style="padding: 0px 0px 0px 0px">
      <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
        <div
          class="
            gdlr-core-pbf-wrapper-container
            clearfix
            gdlr-core-pbf-wrapper-full-no-space
          "
        >
          <div class="gdlr-core-pbf-element">
            <div
              class="
                gdlr-core-revolution-slider-item
                gdlr-core-item-pdlr
                gdlr-core-item-pdb
              "
              style="padding-bottom: 0px"
            >
              <!-- START Homepage REVOLUTION SLIDER 6.2.12 -->
              <p class="rs-p-wp-fix"></p>
              <rs-module-wrap
                id="rev_slider_1_1_wrapper"
                data-source="gallery"
                style="
                  background: transparent;
                  padding: 0;
                  margin: 0px auto;
                  margin-top: 0;
                  margin-bottom: 0;
                "
              >
                <rs-module id="rev_slider_1_1" data-version="6.2.12">
                  <rs-slides>
                    <rs-slide
                      data-key="rs-18"
                      data-title="Slide"
                      data-anim="ei:d;eo:d;s:d;r:0;t:random;sl:d;"
                    >
                      <img
                        src="//img.youtube.com/vi/A-wi-zrMlzE/sddefault.jpg"
                        title="Homepage"
                        class="rev-slidebg"
                        data-no-retina
                      />
                      <rs-bgvideo
                        data-video="vc:none;w:100%;h:100%;nse:false;l:true;ptimer:false;"
                        data-ytid="A-wi-zrMlzE"
                        data-vatr="version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&amp;wmode=opaque&amp;showinfo=0&amp;rel=0&amp;origin=https://godigitalspeed.cloudaccess.host;"
                      ></rs-bgvideo>
                      <!--
							--><rs-layer
                        id="slider-1-slide-18-layer-1"
                        data-type="text"
                        data-color="#ffffff"
                        data-rsp_ch="on"
                        data-xy="x:c;y:326px;"
                        data-text="s:36;l:22;fw:600;a:inherit;"
                        data-frame_999="o:0;st:w;sR:1700;"
                        style="z-index: 6; font-family: Open Sans"
                        >Go Digital - Stand Out - Get Hired </rs-layer
                      ><!--

							--><rs-layer
                        id="slider-1-slide-18-layer-2"
                        data-type="text"
                        data-color="#ffffff"
                        data-rsp_ch="on"
                        data-xy="x:c;y:394px;"
                        data-text="l:22;a:center;"
                        data-dim="w:705px;"
                        data-frame_999="o:0;st:w;sR:1700;"
                        style="z-index: 7; font-family: Open Sans"
                        >Easily create a high-impact digital cv that will get
                        you noticed.<br /><br />
                        Massively improve your chances getting an
                        <br />interview and landing your dream job. </rs-layer
                      ><!--

							--><a
                        id="slider-1-slide-18-layer-3"
                        class="rs-layer rev-btn"
                        href="/test/full-registration/"
                        target="_self"
                        rel="nofollow"
                        data-type="button"
                        data-color="rgba(255,255,255,1)"
                        data-xy="x:c;y:514px;"
                        data-text="s:26;l:17;fw:500;a:center;"
                        data-dim="w:229px;h:55px;"
                        data-rsp_bd="off"
                        data-padding="t:18;r:35;b:12;l:35;"
                        data-frame_999="o:0;st:w;sR:1700;"
                        data-frame_hover="c:#000;bgc:#fff;boc:#000;bor:0px,0px,0px,0px;bos:solid;oX:50;oY:50;sp:0;e:none;"
                        style="
                          z-index: 8;
                          background-color: rgba(161, 24, 130, 0.75);
                          font-family: Roboto;
                          cursor: pointer;
                          outline: none;
                          box-shadow: none;
                          box-sizing: border-box;
                          -moz-box-sizing: border-box;
                          -webkit-box-sizing: border-box;
                        "
                        >Get Started </a
                      ><!--

							--><rs-layer
                        id="slider-1-slide-18-layer-4"
                        class="tp-shape tp-shapewrapper"
                        data-type="shape"
                        data-rsp_ch="on"
                        data-xy="x:c;xo:1px;y:293px;"
                        data-text="fw:500;a:inherit;"
                        data-dim="w:706px;h:318px;"
                        data-frame_1="sR:10;"
                        data-frame_999="o:0;st:w;sR:1690;"
                        style="z-index: 5; background-color: rgba(0, 0, 0, 0.5)"
                      >
                      </rs-layer
                      ><!---->
                    </rs-slide>
                  </rs-slides>
                </rs-module>
                <script type="text/javascript">
                  setREVStartSize({
                    c: 'rev_slider_1_1',
                    rl: [1240, 1024, 778, 480],
                    el: [655],
                    gw: [1180],
                    gh: [655],
                    type: 'standard',
                    justify: '',
                    layout: 'fullwidth',
                    mh: '0',
                  });
                  var revapi1, tpj;
                  jQuery(function () {
                    tpj = jQuery;
                    revapi1 = tpj('#rev_slider_1_1');
                    if (
                      revapi1 == undefined ||
                      revapi1.revolution == undefined
                    ) {
                      revslider_showDoubleJqueryError('rev_slider_1_1');
                    } else {
                      revapi1.revolution({
                        duration: 2000,
                        visibilityLevels: '1240,1024,778,480',
                        gridwidth: 1180,
                        gridheight: 655,
                        perspective: 600,
                        perspectiveType: 'local',
                        editorheight: '655,768,960,720',
                        responsiveLevels: '1240,1024,778,480',
                        progressBar: {
                          color: 'rgba(68,17,75,0.87)',
                          size: 5,
                          x: 0,
                          y: 0,
                        },
                        navigation: {
                          mouseScrollNavigation: false,
                          onHoverStop: false,
                          touch: {
                            touchenabled: true,
                          },
                        },
                        fallbacks: {
                          allowHTML5AutoPlayOnAndroid: true,
                        },
                      });
                    }
                  });
                </script>
              </rs-module-wrap>
              <!-- END REVOLUTION SLIDER -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="gdlr-core-pbf-wrapper"
      style="
        padding: 0px 0px 0px 0px;
        border-width: 0px 0px 10px 0px;
        border-color: #ffffff;
        border-style: solid;
      "
      data-skin="Light"
    >
      <div
        class="gdlr-core-pbf-background-wrap"
        style="background-color: #ffffff"
      ></div>
      <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
        <div
          class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container"
        >
          <div
            class="
              gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first
            "
          >
            <div
              class="gdlr-core-pbf-column-content-margin gdlr-core-js"
              style="padding: 0px 20px 0px 20px"
            >
              <div
                class="gdlr-core-pbf-column-content clearfix gdlr-core-js"
                data-gdlr-animation="fadeInLeft"
                data-gdlr-animation-duration="600ms"
                data-gdlr-animation-offset="0.8"
              >
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-text-box-item
                      gdlr-core-item-pdlr
                      gdlr-core-item-pdb
                      gdlr-core-left-align
                    "
                    style="padding-bottom: 0px"
                  >
                    <div class="gdlr-core-text-box-item-content">
                      <p>
                        <img
                          class="alignnone wp-image-4139 size-full"
                          src="/static/images/chevron_0002_Vector-Smart-Object.jpg"
                          alt=""
                          width="1726"
                          height="416"
                        />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-text-box-item
                      gdlr-core-item-pdlr
                      gdlr-core-item-pdb
                      gdlr-core-left-align
                    "
                    style="padding-bottom: 10px"
                  >
                    <div class="gdlr-core-text-box-item-content">
                      <p style="text-align: center">
                        <strong
                          ><span style="color: #009fe3; font-size: 18pt"
                            >Go Digital</span
                          ><br /></strong
                        ><span style="color: #000000; font-size: 14pt"
                          >Choose Your Package</span
                        ><br /><span style="color: #000000; font-size: 14pt"
                          >and Get Started</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-image-item
                      gdlr-core-item-pdlr
                      gdlr-core-item-pdb
                      gdlr-core-center-align
                    "
                  >
                    <div
                      class="
                        gdlr-core-image-item-wrap
                        gdlr-core-media-image
                        gdlr-core-image-item-style-rectangle
                      "
                      style="border-width: 0px"
                    >
                      <img
                        src="/static/images/GoDigital-Web-Visual1-1-copy.jpg"
                        alt=""
                        width="592"
                        height="466"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="gdlr-core-pbf-column gdlr-core-column-20">
            <div
              class="gdlr-core-pbf-column-content-margin gdlr-core-js"
              style="padding: 0px 20px 0px 20px"
            >
              <div
                class="gdlr-core-pbf-column-content clearfix gdlr-core-js"
                data-gdlr-animation="fadeInLeft"
                data-gdlr-animation-duration="600ms"
                data-gdlr-animation-offset="0.8"
              >
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-text-box-item
                      gdlr-core-item-pdlr
                      gdlr-core-item-pdb
                      gdlr-core-left-align
                    "
                    style="padding-bottom: 0px"
                  >
                    <div class="gdlr-core-text-box-item-content">
                      <p>
                        <img
                          class="alignnone wp-image-4141 size-full"
                          src="/static/images/chevron_0001_Vector-Smart-Object.jpg"
                          alt=""
                          width="1726"
                          height="416"
                        />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-text-box-item
                      gdlr-core-item-pdlr
                      gdlr-core-item-pdb
                      gdlr-core-left-align
                    "
                    style="padding-bottom: 10px"
                  >
                    <div class="gdlr-core-text-box-item-content">
                      <p style="text-align: center">
                        <strong
                          ><span style="color: #009fe3; font-size: 18pt"
                            >Stand Out</span
                          ><br /></strong
                        ><span style="color: #000000; font-size: 14pt"
                          ><span style="caret-color: #000000"
                            >Upload Your Details and<br />Create a Custom
                            Digital CV</span
                          ></span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-image-item
                      gdlr-core-item-pdlr
                      gdlr-core-item-pdb
                      gdlr-core-center-align
                    "
                  >
                    <div
                      class="
                        gdlr-core-image-item-wrap
                        gdlr-core-media-image
                        gdlr-core-image-item-style-rectangle
                      "
                      style="border-width: 0px"
                    >
                      <img
                        src="/static/images/2-1-copy.jpg"
                        alt=""
                        width="592"
                        height="466"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="gdlr-core-pbf-column gdlr-core-column-20">
            <div
              class="gdlr-core-pbf-column-content-margin gdlr-core-js"
              style="padding: 0px 20px 0px 20px"
            >
              <div
                class="gdlr-core-pbf-column-content clearfix gdlr-core-js"
                data-gdlr-animation="fadeInLeft"
                data-gdlr-animation-duration="600ms"
                data-gdlr-animation-offset="0.8"
              >
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-text-box-item
                      gdlr-core-item-pdlr
                      gdlr-core-item-pdb
                      gdlr-core-left-align
                    "
                    style="padding-bottom: 0px"
                  >
                    <div class="gdlr-core-text-box-item-content">
                      <p>
                        <img
                          class="alignnone wp-image-4140 size-full"
                          src="/static/images/chevron_0000_Vector-Smart-Object.jpg"
                          alt=""
                          width="1726"
                          height="416"
                        />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-text-box-item
                      gdlr-core-item-pdlr
                      gdlr-core-item-pdb
                      gdlr-core-left-align
                    "
                    style="padding-bottom: 10px"
                  >
                    <div class="gdlr-core-text-box-item-content">
                      <p style="text-align: center">
                        <strong
                          ><span style="color: #009fe3; font-size: 18pt"
                            >Get Seen</span
                          ><br /></strong
                        ><span style="color: #000000; font-size: 14pt"
                          ><span style="caret-color: #000000"
                            >Send Employers a Custom Link<br />to View your CV
                            Online</span
                          ></span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-image-item
                      gdlr-core-item-pdlr
                      gdlr-core-item-pdb
                      gdlr-core-center-align
                    "
                  >
                    <div
                      class="
                        gdlr-core-image-item-wrap
                        gdlr-core-media-image
                        gdlr-core-image-item-style-rectangle
                      "
                      style="border-width: 0px"
                    >
                      <img
                        src="/static/images/3-1-copy.jpg"
                        alt=""
                        width="790"
                        height="610"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="gdlr-core-pbf-wrapper"
      style="
        padding: 30px 0px 0px 0px;
        border-width: 0px 0px 10px 0px;
        border-color: #ffffff;
        border-style: solid;
      "
      data-skin="Light"
    >
      <div
        class="gdlr-core-pbf-background-wrap"
        style="background-color: #a01881"
      >
        <div
          class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
          style="background-repeat: repeat; background-position: center"
          data-parallax-speed="0.8"
        ></div>
      </div>
      <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
        <div
          class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container"
        >
          <div
            class="
              gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first
            "
          >
            <div
              class="gdlr-core-pbf-column-content-margin gdlr-core-js"
              style="margin: 20px 0px 0px 0px; padding: 0px 20px 20px 20px"
            >
              <div
                class="gdlr-core-pbf-column-content clearfix gdlr-core-js"
                data-gdlr-animation="fadeInLeft"
                data-gdlr-animation-duration="600ms"
                data-gdlr-animation-offset="0.8"
              >
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-text-box-item
                      gdlr-core-item-pdlr
                      gdlr-core-item-pdb
                      gdlr-core-left-align
                    "
                    style="padding-bottom: 0px"
                  >
                    <div class="gdlr-core-text-box-item-content">
                      <h2 style="text-align: left">
                        <span style="color: #ffffff; font-size: 19pt"
                          ><strong>THE MOST POWERFUL CV BUILDER</strong></span
                        >
                      </h2>
                      <p>
                        <span style="color: #ffffff; font-size: 14pt"
                          >Everything you need for your next career move!</span
                        >
                      </p>
                      <p>
                        <span style="color: #ffffff; font-size: 14pt"
                          >In today&#8217;s competitive market, customization is
                          key. </span
                        ><br />
                        <span style="color: #ffffff; font-size: 14pt"
                          >Easily manage multiple GoDigital CV versions,
                          personalized for each application.</span
                        >
                      </p>
                      <p>
                        <span style="color: #ffffff; font-size: 14pt"
                          >Create a cover letter, import a cv sample, even find
                          a job opportunity &#8211; Go Digital is designed to
                          help you make your next career move.</span
                        >
                      </p>
                      <p>
                        <span style="color: #ffffff; font-size: 14pt"
                          >Easily manage multiple GoDigital CV versions,
                          personalized for each application.</span
                        >
                      </p>
                      <p>
                        <span style="color: #ffffff; font-size: 14pt"
                          >In today&#8217;s competitive market, customization is
                          key.
                        </span>
                      </p>
                      <p>
                        <span style="color: #ffffff; font-size: 14pt"
                          >Share your resume with a convenient link via email or
                          social media, and export as a PDF to apply directly to
                          an employer.</span
                        >
                      </p>
                      <p>
                        <span style="color: #ffffff; font-size: 14pt"
                          >Make your next career move with confidence.</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="gdlr-core-pbf-column gdlr-core-column-30">
            <div
              class="gdlr-core-pbf-column-content-margin gdlr-core-js"
              style="padding: 0px 0px 0px 0px"
            >
              <div
                class="gdlr-core-pbf-column-content clearfix gdlr-core-js"
                data-gdlr-animation="fadeInLeft"
                data-gdlr-animation-duration="600ms"
                data-gdlr-animation-offset="0.8"
              >
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-text-box-item
                      gdlr-core-item-pdlr
                      gdlr-core-item-pdb
                      gdlr-core-left-align
                    "
                    style="padding-bottom: 0px"
                  >
                    <div class="gdlr-core-text-box-item-content">
                      <p>
                        <a href="#"
                          ><img
                            class="alignnone size-full wp-image-2645"
                            src="/static/images/Img-CV-B_2x.png"
                            alt=""
                            width="1226"
                            height="1305"
                        /></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="gdlr-core-pbf-wrapper"
      style="padding: 30px 0px 30px 0px"
      data-skin="Light"
    >
      <div
        class="gdlr-core-pbf-background-wrap"
        style="background-color: #009fe3"
      >
        <div
          class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
          style="background-repeat: repeat; background-position: center"
          data-parallax-speed="0.8"
        ></div>
      </div>
      <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
        <div
          class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container"
        >
          <div
            class="
              gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first
            "
          >
            <div
              class="gdlr-core-pbf-column-content-margin gdlr-core-js"
              style="padding: 0px 30px 0px 0px"
            >
              <div
                class="gdlr-core-pbf-column-content clearfix gdlr-core-js"
                data-gdlr-animation="fadeInLeft"
                data-gdlr-animation-duration="600ms"
                data-gdlr-animation-offset="0.8"
              >
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-text-box-item
                      gdlr-core-item-pdlr
                      gdlr-core-item-pdb
                      gdlr-core-left-align
                    "
                    style="padding-bottom: 10px"
                  >
                    <div class="gdlr-core-text-box-item-content">
                      <h3 style="text-align: center">
                        <span
                          style="
                            color: #ffffff;
                            font-family: arial, helvetica, sans-serif;
                          "
                          ><strong>JOIN OVER 2 MILLION MEMBERS</strong></span
                        >
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="gdlr-core-pbf-element">
                  <div
                    class="
                      gdlr-core-testimonial-item gdlr-core-item-pdb
                      clearfix
                      gdlr-core-testimonial-style-left gdlr-core-item-pdlr
                    "
                  >
                    <div
                      class="gdlr-core-flexslider flexslider gdlr-core-js-2"
                      data-type="carousel"
                      data-column="1"
                      data-nav="bullet"
                      data-nav-parent="gdlr-core-testimonial-item"
                    >
                      <ul class="slides">
                        <li class="gdlr-core-item-mglr">
                          <div class="gdlr-core-testimonial clearfix">
                            <div
                              class="
                                gdlr-core-testimonial-quote gdlr-core-quote-font
                              "
                            >
                              &#8220;
                            </div>
                            <div class="gdlr-core-testimonial-content-wrap">
                              <div
                                class="
                                  gdlr-core-testimonial-content
                                  gdlr-core-info-font
                                  gdlr-core-skin-content
                                "
                                style="font-size: 15px; color: #ffffff"
                              >
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipiscing elit. Sed suscipit ultrices
                                  aliquet. Pellentesque volutpat, quam
                                  consectetur ultrices accumsan, sem ex dapibus
                                  enim, cursus condimentum erat dui at nibh.
                                  Vestibulum imperdiet auctor risus, et accumsan
                                  odio accumsan vel. Nulla rhoncus in ante ut
                                  ullamcorper. Integer volutpat sapien ex, id
                                  rutrum est suscipit a. Fusce consectetur et
                                  lectus porttitor porta. Donec sed semper nisl.
                                  Quisque sit amet leo at ex condimentum
                                  tincidunt non sed odio.
                                </p>
                              </div>
                              <div
                                class="
                                  gdlr-core-testimonial-author-wrap
                                  clearfix
                                "
                              >
                                <div
                                  class="gdlr-core-testimonial-author-content"
                                >
                                  <div
                                    class="
                                      gdlr-core-testimonial-title
                                      gdlr-core-title-font
                                      gdlr-core-skin-title
                                    "
                                    style="color: #a01881"
                                  >
                                    Richard Cairney
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="gdlr-core-item-mglr">
                          <div class="gdlr-core-testimonial clearfix">
                            <div
                              class="
                                gdlr-core-testimonial-quote gdlr-core-quote-font
                              "
                            >
                              &#8220;
                            </div>
                            <div class="gdlr-core-testimonial-content-wrap">
                              <div
                                class="
                                  gdlr-core-testimonial-content
                                  gdlr-core-info-font
                                  gdlr-core-skin-content
                                "
                                style="font-size: 15px; color: #ffffff"
                              >
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipiscing elit. Sed suscipit ultrices
                                  aliquet. Pellentesque volutpat, quam
                                  consectetur ultrices accumsan, sem ex dapibus
                                  enim, cursus condimentum erat dui at nibh.
                                  Vestibulum imperdiet auctor risus, et accumsan
                                  odio accumsan vel. Nulla rhoncus in ante ut
                                  ullamcorper. Integer volutpat sapien ex, id
                                  rutrum est suscipit a. Fusce consectetur et
                                  lectus porttitor porta. Donec sed semper nisl.
                                  Quisque sit amet leo at ex condimentum
                                  tincidunt non sed odio.
                                </p>
                              </div>
                              <div
                                class="
                                  gdlr-core-testimonial-author-wrap
                                  clearfix
                                "
                              >
                                <div
                                  class="gdlr-core-testimonial-author-content"
                                >
                                  <div
                                    class="
                                      gdlr-core-testimonial-title
                                      gdlr-core-title-font
                                      gdlr-core-skin-title
                                    "
                                    style="color: #a01881"
                                  >
                                    Mark Gillanders
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="gdlr-core-item-mglr">
                          <div class="gdlr-core-testimonial clearfix">
                            <div
                              class="
                                gdlr-core-testimonial-quote gdlr-core-quote-font
                              "
                            >
                              &#8220;
                            </div>
                            <div class="gdlr-core-testimonial-content-wrap">
                              <div
                                class="
                                  gdlr-core-testimonial-content
                                  gdlr-core-info-font
                                  gdlr-core-skin-content
                                "
                                style="font-size: 15px; color: #ffffff"
                              >
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipiscing elit. Sed suscipit ultrices
                                  aliquet. Pellentesque volutpat, quam
                                  consectetur ultrices accumsan, sem ex dapibus
                                  enim, cursus condimentum erat dui at nibh.
                                  Vestibulum imperdiet auctor risus, et accumsan
                                  odio accumsan vel. Nulla rhoncus in ante ut
                                  ullamcorper. Integer volutpat sapien ex, id
                                  rutrum est suscipit a. Fusce consectetur et
                                  lectus porttitor porta. Donec sed semper nisl.
                                  Quisque sit amet leo at ex condimentum
                                  tincidunt non sed odio.
                                </p>
                              </div>
                              <div
                                class="
                                  gdlr-core-testimonial-author-wrap
                                  clearfix
                                "
                              >
                                <div
                                  class="gdlr-core-testimonial-author-content"
                                >
                                  <div
                                    class="
                                      gdlr-core-testimonial-title
                                      gdlr-core-title-font
                                      gdlr-core-skin-title
                                    "
                                    style="color: #a01881"
                                  >
                                    Stewart Brown
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}
  </div>
</div>
